Theory questions.

1. What are data structures, and why are they important?
Ans:- Data structures are format of storing data in various kinds of data types like, list, tuple, string, set and dictonary. They are important to mainipulate and performing operations.

2. Explain the difference between mutable and immutable data types with examples?
Ans:- Data types which doesn't support item assignment so that we can't change the value of elements are called immutable data types.
Ex:- string

Data types which support item assignment for elemnts to change the value are called mutable data types
Ex:- int, float, bool.

3. What are the main differences between lists and tuples in Python?

Ans:- lists are mutable can change the value of elements.
Tuples are immutable so can't change the value of elements.

4. Describe how dictionaries store data.
ANs:- Dictionaries stores data in key value pairs with flower brackets and key of every element will be as index of that value.

5. Why might you use a set instead of a list in Python?
Ans:- Because set is unordered collections of data so it wont contain duplicates.

6. What is a string in Python, and how is it different from a list?
Ans:- string is collection of characters and that are immutable where as list is collections of hertoginuos elements with various collections of data and are mutable.

7. How do tuples ensure data integrity in Python?
Ans:- Tuples in Python ensure data integrity through their immutability. Once a tuple is created, its elements cannot be modified, added, or removed. This characteristic guarantees that the data stored within a tuple remains constant throughout the program's execution.

8. What is a hash table, and how does it relate to dictionaries in Python?
Ans:- A hash table is a data structure that stores key-value pairs, using a hash function to compute an index for each key, which determines the position in the table where the corresponding value is stored.

9. Can lists contain different data types in Python?
Ans:- yes.

10. P Explain why strings are immutable in Python?
Ans:- strings dosen't support item assignment so they are immutable.

11. What advantages do dictionaries offer over lists for certain tasks?
Ans:-  it is more efficient to use dictionaries for the searching of elements as it can be carried out in a much faster manner. Lists are used when it is important to maintain the order of the elements and dealing with data that may get changed in the future.

12. Describe a scenario where using a tuple would be preferable over a list?
Ans:- tuple is suitable when you dont want to change the data as it is immutable.

13. How do sets handle duplicate values in Python?
Ans:- Sets doesn't consider the duplicate values as it contains only unique elemnts.

14. How does the “in” keyword work differently for lists and dictionaries?
Ans:- he in operation for the dictionary tests on keys. The key of the dictionary is a unique value as well as the set, and the execution time is about the same as for sets. On the other hand, dictionary values can be duplicated like a list.

15. Can you modify the elements of a tuple? Explain why or why not?
Ans:- No we can't modify the elements of tuple because they are immutable and doesn't support the item assignment.

16. What is a nested dictionary, and give an example of its use case?
Ans - In Python, a nested dictionary is a dictionary inside a dictionary. It's a collection of dictionaries into one single dictionary

Ex:- nested_dict = {"item1":{"name":suraj,"age:"23""},
"item2":{"contact":98989834,"city":"banglore"}}

17. Describe the time complexity of accessing elements in a dictionary.
Ans:- Accessing an element in a dictionary using its key typically has a time complexity of O(1) on average.

18. In what situations are lists preferred over dictionaries?
Ans:- when order matters, or when you need to perform operations like appending, extending, or slicing on a collection of items.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

Ans:- A dictionary is termed an unordered collection of objects because dictionaries do not maintain any inherent order of the items based on when they were added

20.  Explain the difference between a list and a dictionary in terms of data retrieval.

Ans:- In lists data can be retived by index values of elements and in dictionary elements are accessed by keys of elements.

In [1]:
#1. Write a code to create a string with your name and print it.

name = "Suraj M"
print(name)

Suraj M

In [ ]:
#2. Write a code to find the length of the string "Hello World".

find_lenght = "Hello World"
print("The length of given string is",len(find_lenght))

The length of given string is 11

In [ ]:
#3. Write a code to slice the first 3 characters from the string "Python Programming".

first_3char = "Python Programming"

print("First 3 characters from the string", first_3char[0:3])

First 3 characters from the string Pyt

In [ ]:
#4. Write a code to convert the string "hello" to uppercase.

cont = "hello"
print(cont.upper())

HELLO

In [ ]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

rep = "I like apple"
rep.replace("apple", "orange")

'I like orange'

In [ ]:
#6. Write a code to create a list with numbers 1 to 5 and print it.
A = [1,2,3,4,5,6]

for i in A:
  print(i)

1
2
3
4
5
6

In [ ]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4].

A = [1, 2, 3, 4]

A.append(10)
print(A)

[1, 2, 3, 4, 10]

In [ ]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

list2 = [1, 2, 3, 4, 5]

list2.remove(3)

print(list2)

[1, 2, 4, 5]

In [ ]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

A = ['a', 'b', 'c', 'd']
A[1]

'b'

In [ ]:
#10.  Write a code to reverse the list [10, 20, 30, 40, 50].

A = [10, 20, 30, 40, 50]

A[::-1]

[50, 40, 30, 20, 10]

In [ ]:
#11  Write a code to create a tuple with the elements 100, 200, 300 and print it.

A = (100,200,300)

for i in A:
    print(i)

100
200
300

In [ ]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

A = ('red', 'green', 'blue', 'yellow')

A[1:]

('green', 'blue', 'yellow')

In [ ]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

A = (10, 20, 5, 15)

print("The minimum value of given tuple :", min(A))
print("The maximum value of given tuple :", max(A))

The minimum value of given tuple : 5
The maximum value of given tuple : 20

In [ ]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

animals = ('dog', 'cat', 'rabbit')

print("The index of cat is :", animals.index("cat"))

The index of cat is : 1

In [ ]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits = ("Apple", "water melon", "kiwi")

if "kiwi" in fruits:
  print("yes fruit kiwi exists..!")
else:
  print("No kiwi doesn't exists.")

yes fruit kiwi exists..!

In [ ]:
#16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it.

A = {"a","a","b","c","c"}

print(A)

{'c', 'b', 'a'}

In [ ]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

A = {1, 2, 3, 4, 5}

A.clear()
print(A)

set()

In [ ]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

A = {1, 2, 3, 4}

A.remove(4)
print(A)

{1, 2, 3}

In [ ]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

A = {1, 2, 3}
B = {3, 4, 5}

print("The union of given sets :",A|B)

The union of given sets : {1, 2, 3, 4, 5}

In [ ]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

A = {1, 2, 3}
B = {2, 3, 4}

print("The intersection of given sets :", A & B)

The intersection of given sets : {2, 3}

In [ ]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

name = input("Enter name :")
age = int(input("Enter age :"))
city = input("Enter city :")
details = {
    "name":name,
    "age":age,
    "city":city

}

print("The given details are in dict :",details)

Enter name :Suraj M
Enter age :23
Enter city :Bellary
The given details are in dict : {'name': 'Suraj M', 'age': 23, 'city': 'Bellary'}

In [ ]:
#22.  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

order = {'name': 'John', 'age': 25}
order.update({"country": "USA"})
print(order)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

details = {'name': 'Alice', 'age': 30}

details['name']

'Alice'

In [ ]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

orders = {'name': 'Bob', 'age': 22, 'city': 'New York'}

orders.pop('age')
orders

{'name': 'Bob', 'city': 'New York'}

In [ ]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

check_city = {'name': 'Alice', 'city': 'Paris'}

find_city = check_city.keys()

if 'city' in find_city:
  print("yes exists..!")
else:
  print("no")

yes exists..!

In [ ]:
#26.  Write a code to create a list, a tuple, and a dictionary, and print them all.

details_list = [1,2.2,'suraj',3+4j,"234"]

details_tuple = (1,2.34,'suraj',2+3j,"334")

details_disct = {"name":"suraj","age":23,"weight":60.5,"contact":233243}

print("The list :",details_list)
print("The Tuple :",details_tuple)
print("The Dictionary :",details_disct)

The list : [1, 2.2, 'suraj', (3+4j), '234']
The Tuple : (1, 2.34, 'suraj', (2+3j), '334')
The Dictionary : {'name': 'suraj', 'age': 23, 'weight': 60.5, 'contact': 233243}

In [ ]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

num_list = [10,87,23,9,54]

sorted(num_list)

[9, 10, 23, 54, 87]

In [ ]:
#28. Write a code to create a list with strings and print the element at the third index.

string_list = ["suraj","Thanvik","sriyansh","Thanish","likith"]

print(string_list[3])

Thanish

In [2]:
#29. Write a code to combine two dictionaries into one and print the result

A = {"name":"suraj","age":23,"city":"Bellary"}
B = {"name":"Thanvik","age":5,"city":"Ballari"}

A.update(B)
print(A)

{'name': 'Thanvik', 'age': 5, 'city': 'Ballari'}

In [ ]:
#30. Write a code to convert a list of strings into a set.

A = ["suraj","Thanvik","sriyansh","Tanish","likith","vijay","suraj","Thanvik"]

print("The conversion of list of strings into set :",set(A))

The conversion of list of strings into set : {'suraj', 'sriyansh', 'Tanish', 'vijay', 'Thanvik', 'likith'}